@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    color: #EEEEEE;
}
/* INICIO */
.contenedor-inicio{
    background-color: #393E46;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contenedor-inicio h1{
    font-size: 10rem;
}
i{
    color:#827e7e;
}
.linkedin:hover{
    color: #00ADB5;
    opacity: 1;
}
.github:hover{
    color: #eeeeee;
    opacity: 1;
}

/* HEADER */
header{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color:#222831; 
    color: #EEEEEE;
    position:sticky;
    top: 0;
}
a{
    text-decoration: none;
    color: #EEEEEE;
}

ul{
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
    list-style: none;
}
.items{
    padding-top: .125rem;
    background-size: 0% 2px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size .3s;
}
.items:hover{
    background-size: 100% 2px;
}
.contenedor{
    display: flex;
    justify-content: space-evenly;
    padding-left: 5%;
    padding-right: 5%;
}



/* SOBRE MI */
.sobreMi{
    padding: 15%;
    padding-left: 25%;
    padding-right: 25%;
    background-color: #222831;
    text-align: center;
    
}
.contenedor-sobreMi{
    padding: 2%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: .75rem;
    display: flex;
}
.contenedor-sobreMi img{
    width: 45%;
}
.parrafos-sobreMi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.parrafos-sobreMi p{
    padding: 2%;
}

/* CONOCIMIENTOS */

.conocimientos{
    padding-top: 2%;
    background-color: #393E46;
    /* height: 100vh; */
    text-align: center;
    align-items: center;
}
.conocimientos h2{
    padding: 5%;
}
.contenedor-conocimientos{
    display: flex;
    justify-content: space-around;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    flex-wrap: wrap;
   
}
.conocimiento{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    margin: 5px;
    
}
.conocimiento h3{
    padding-bottom: 5%;
    padding-top: 5%;
}
.conocimiento img{
    width: 60%;
}

/* PROYECTOS */
.proyectos{
    background-color: #222831;
    /* height: 100vh; */
    text-align: center;
    padding-top: 10%;
}
.contenedor-proyectos{
    display: flex;
    justify-content: space-around;
    padding: 33px 33px;
    flex-wrap: wrap;
}
.proyecto{
    /* max-width: 25rem;
    min-width: 25rem; */
    text-align: center;
}
.proyectos h2{
    padding: 2%;
}
.proyecto a img{
    border-radius: 12px;
    width: 18.75rem;
    transition: width .7s;
}
.proyecto a img:hover{
    width: 25rem;
}

/* CONTACTO */
/* .contacto{
    background-color: #393E46;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 40%;
    padding-right: 40%;
}
.contenedor-contacto{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
} */


/* FOOTER */
.info{
    background-color: rgb(23, 27, 33);
    display: flex;
    justify-content: space-evenly;
}
.contenedor-info-pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-info-pagina li{
    padding: 5%;
}
.contenedor-info{
    text-align: center;
}
.contenedor-info li{
    padding: 5%;
}
.contenedor-enlaces{
    display: flex;
    justify-content: space-around;
}



/* ANIMAR */
.desaparece{
    opacity: 0;
}
.aparece{
    opacity: 1;
}


@media screen and (max-width: 767px) {
    .sobreMi{
        padding: 15%;
        background-color: #222831;
        text-align: center;
        
    }
    .parrafos-sobreMi p {
        padding: 3%;
    }
}

@media (max-width:1400px) {
    .contenedor-sobreMi img{
        width: 0px;
    }
}
@media (max-width:1110px) {
    .contenedor-inicio h1{
        font-size: 3rem;;
    }
    .contenedor-proyectos{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        
    }
    .proyecto{
        /* max-width: 25rem;
        min-width: 25rem; */
        text-align: center;
        margin: 10px;
    }
    .proyecto a img{
        width: 60%;
    }
    .proyecto a img:hover{
        width: 20rem;
    }

    .conocimiento img{
        width: 50%;
    }
    .contenedor-info li{
        padding: 5%;
        font-size: x-small;
        font-weight: bold;
    }

}